In [1]:
#Importing libraries

import pandas as pd
import numpy as np

In [2]:
# Reading Csvs: For duration: January 2019 to May 2019 and January 2020 to May 2020

df1 = pd.read_csv('data/JC-201901-citibike-tripdata.csv')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [3]:
df2 = pd.read_csv('data/JC-201902-citibike-tripdata.csv')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [4]:
df3 = pd.read_csv('data/JC-201903-citibike-tripdata.csv')
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [5]:
df4 = pd.read_csv('data/JC-201904-citibike-tripdata.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1

In [6]:
df5 = pd.read_csv('data/JC-201905-citibike-tripdata.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [7]:
df6 = pd.read_csv('data/JC-202001-citibike-tripdata.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [8]:
df7 = pd.read_csv('data/JC-202002-citibike-tripdata.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,841,2020-02-01 00:02:13.7650,2020-02-01 00:16:15.4720,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1
1,206,2020-02-01 00:16:11.3850,2020-02-01 00:19:37.4460,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1
2,859,2020-02-01 00:23:22.1090,2020-02-01 00:37:41.5060,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1
3,693,2020-02-01 00:25:14.5170,2020-02-01 00:36:48.0280,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1
4,1473,2020-02-01 00:32:30.5050,2020-02-01 00:57:04.3740,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0

In [9]:
df8 = pd.read_csv('data/JC-202003-citibike-tripdata.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [10]:
df9 = pd.read_csv('data/JC-202004-citibike-tripdata.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [11]:
df10 = pd.read_csv('data/JC-202005-citibike-tripdata.csv')
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,2020-05-01 00:09:45.5860,2020-05-01 00:15:35.2930,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,2020-05-01 01:11:22.5280,2020-05-01 01:13:41.2460,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,2020-05-01 05:31:29.5350,2020-05-01 05:35:19.2400,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,2020-05-01 05:51:39.3960,2020-05-01 05:56:00.9370,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,2020-05-01 06:06:31.9510,2020-05-01 06:09:20.1410,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1

In [12]:
# Updating columns:
# Renaming tripduration column to tripduration (in secs)
# Formatting starttime and stoptime columns from string to datetime format
# Extraxting month and year from starttime column for analysis

newdf1 = df1.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf1['starttime'] = pd.to_datetime(newdf1['starttime'])
newdf1['stoptime'] = pd.to_datetime(newdf1['stoptime'])
newdf1['mon_yr'] = newdf1['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf1['year'] = newdf1['starttime'].apply(lambda x: x.strftime('%Y'))
newdf1.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,January-2019
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,January-2019
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,January-2019
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,January-2019
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,January-2019

In [13]:
newdf2 = df2.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf2['starttime'] = pd.to_datetime(newdf2['starttime'])
newdf2['stoptime'] = pd.to_datetime(newdf2['stoptime'])
newdf2['mon_yr'] = newdf2['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf2['year'] = newdf2['starttime'].apply(lambda x: x.strftime('%Y'))
newdf2.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,142,2019-02-01 15:35:02.082,2019-02-01 15:37:24.136,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1,February-2019
1,223,2019-02-01 17:00:46.890,2019-02-01 17:04:30.550,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2,February-2019
2,106,2019-02-01 17:08:01.326,2019-02-01 17:09:47.440,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1,February-2019
3,370,2019-02-01 17:09:31.210,2019-02-01 17:15:41.655,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1,February-2019
4,315,2019-02-01 17:19:53.249,2019-02-01 17:25:09.140,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1,February-2019

In [14]:
newdf3 = df3.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf3['starttime'] = pd.to_datetime(newdf3['starttime'])
newdf3['stoptime'] = pd.to_datetime(newdf3['stoptime'])
newdf3['mon_yr'] = newdf3['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf3['year'] = newdf3['starttime'].apply(lambda x: x.strftime('%Y'))
newdf3.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,306,2019-03-01 06:47:08.211,2019-03-01 06:52:14.715,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1,March-2019
1,123,2019-03-01 07:30:53.022,2019-03-01 07:32:56.777,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1,March-2019
2,328,2019-03-01 08:18:30.403,2019-03-01 08:23:59.059,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2,March-2019
3,95,2019-03-01 11:04:47.202,2019-03-01 11:06:22.813,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1,March-2019
4,169,2019-03-01 11:51:29.417,2019-03-01 11:54:19.212,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1,March-2019

In [15]:
newdf4 = df4.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf4['starttime'] = pd.to_datetime(newdf4['starttime'])
newdf4['stoptime'] = pd.to_datetime(newdf4['stoptime'])
newdf4['mon_yr'] = newdf4['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf4['year'] = newdf4['starttime'].apply(lambda x: x.strftime('%Y'))
newdf4.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,107,2019-04-01 07:48:04.754,2019-04-01 07:49:52.359,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1,April-2019
1,493,2019-04-01 12:41:09.654,2019-04-01 12:49:23.029,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1,April-2019
2,512,2019-04-01 14:27:07.940,2019-04-01 14:35:40.937,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2,April-2019
3,196,2019-04-01 15:07:38.151,2019-04-01 15:10:54.626,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1,April-2019
4,463,2019-04-01 16:19:24.694,2019-04-01 16:27:08.645,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1,April-2019

In [16]:
newdf5 = df5.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf5['starttime'] = pd.to_datetime(newdf5['starttime'])
newdf5['stoptime'] = pd.to_datetime(newdf5['stoptime'])
newdf5['mon_yr'] = newdf5['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf5['year'] = newdf5['starttime'].apply(lambda x: x.strftime('%Y'))
newdf5.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,311,2019-05-01 00:07:36.467,2019-05-01 00:12:47.635,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1,May-2019
1,538,2019-05-01 00:08:29.284,2019-05-01 00:17:27.941,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1,May-2019
2,178,2019-05-01 00:39:36.475,2019-05-01 00:42:34.964,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1,May-2019
3,317,2019-05-01 01:24:28.022,2019-05-01 01:29:45.573,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2,May-2019
4,354,2019-05-01 01:54:39.666,2019-05-01 02:00:34.175,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2,May-2019

In [17]:
newdf6 = df6.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf6['starttime'] = pd.to_datetime(newdf6['starttime'])
newdf6['stoptime'] = pd.to_datetime(newdf6['stoptime'])
newdf6['mon_yr'] = newdf6['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf6['year'] = newdf6['starttime'].apply(lambda x: x.strftime('%Y'))
newdf6.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,226,2020-01-01 00:04:50.192,2020-01-01 00:08:37.037,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,January-2020
1,377,2020-01-01 00:16:01.670,2020-01-01 00:22:19.080,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,January-2020
2,288,2020-01-01 00:17:33.877,2020-01-01 00:22:22.442,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,January-2020
3,435,2020-01-01 00:32:05.902,2020-01-01 00:39:21.066,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,January-2020
4,231,2020-01-01 00:46:19.678,2020-01-01 00:50:11.344,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,January-2020

In [18]:
newdf7 = df7.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf7['starttime'] = pd.to_datetime(newdf7['starttime'])
newdf7['stoptime'] = pd.to_datetime(newdf7['stoptime'])
newdf7['mon_yr'] = newdf7['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf7['year'] = newdf7['starttime'].apply(lambda x: x.strftime('%Y'))
newdf7.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,841,2020-02-01 00:02:13.765,2020-02-01 00:16:15.472,3199,Newport Pkwy,40.728745,-74.032108,3213,Van Vorst Park,40.718489,-74.047727,42217,Subscriber,1980,1,February-2020
1,206,2020-02-01 00:16:11.385,2020-02-01 00:19:37.446,3273,Manila & 1st,40.721651,-74.042884,3639,Harborside,40.719252,-74.034234,42160,Subscriber,1990,1,February-2020
2,859,2020-02-01 00:23:22.109,2020-02-01 00:37:41.506,3185,City Hall,40.717733,-74.043845,3268,Lafayette Park,40.713464,-74.062859,42204,Customer,1991,1,February-2020
3,693,2020-02-01 00:25:14.517,2020-02-01 00:36:48.028,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,42165,Subscriber,1987,1,February-2020
4,1473,2020-02-01 00:32:30.505,2020-02-01 00:57:04.374,3192,Liberty Light Rail,40.711242,-74.055701,3639,Harborside,40.719252,-74.034234,26156,Customer,1969,0,February-2020

In [19]:
newdf8 = df8.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf8['starttime'] = pd.to_datetime(newdf8['starttime'])
newdf8['stoptime'] = pd.to_datetime(newdf8['stoptime'])
newdf8['mon_yr'] = newdf8['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf8['year'] = newdf8['starttime'].apply(lambda x: x.strftime('%Y'))
newdf8.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,389,2020-03-01 00:14:07.000,2020-03-01 00:20:36.088,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1,March-2020
1,242,2020-03-01 00:48:06.439,2020-03-01 00:52:08.987,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1,March-2020
2,124,2020-03-01 01:08:46.488,2020-03-01 01:10:51.278,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0,March-2020
3,104,2020-03-01 01:22:35.479,2020-03-01 01:24:20.247,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1,March-2020
4,228,2020-03-01 01:39:20.268,2020-03-01 01:43:09.138,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1,March-2020

In [20]:
newdf9 = df9.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf9['starttime'] = pd.to_datetime(newdf9['starttime'])
newdf9['stoptime'] = pd.to_datetime(newdf9['stoptime'])
newdf9['mon_yr'] = newdf9['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf9['year'] = newdf9['starttime'].apply(lambda x: x.strftime('%Y'))
newdf9.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,1437,2020-04-01 01:06:20.630,2020-04-01 01:30:17.968,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2,April-2020
1,264,2020-04-01 05:02:42.057,2020-04-01 05:07:06.126,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2,April-2020
2,254,2020-04-01 06:20:28.119,2020-04-01 06:24:42.138,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1,April-2020
3,429,2020-04-01 06:33:30.517,2020-04-01 06:40:40.199,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1,April-2020
4,805,2020-04-01 06:38:32.922,2020-04-01 06:51:58.205,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1,April-2020

In [21]:
newdf10 = df10.rename(columns = {"tripduration": "tripduration (in secs)"})
newdf10['starttime'] = pd.to_datetime(newdf10['starttime'])
newdf10['stoptime'] = pd.to_datetime(newdf10['stoptime'])
newdf10['mon_yr'] = newdf10['starttime'].apply(lambda x: x.strftime('%B-%Y'))
# newdf10['year'] = newdf10['starttime'].apply(lambda x: x.strftime('%Y'))
newdf10.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,349,2020-05-01 00:09:45.586,2020-05-01 00:15:35.293,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0,May-2020
1,138,2020-05-01 01:11:22.528,2020-05-01 01:13:41.246,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1,May-2020
2,229,2020-05-01 05:31:29.535,2020-05-01 05:35:19.240,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1,May-2020
3,261,2020-05-01 05:51:39.396,2020-05-01 05:56:00.937,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2,May-2020
4,168,2020-05-01 06:06:31.951,2020-05-01 06:09:20.141,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1,May-2020

In [22]:
# Merging all dataframes:

Merged_df = pd.concat([newdf1,newdf2,newdf3, newdf4,newdf5,newdf6,newdf7,newdf8,newdf9,newdf10])
Merged_df

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1,January-2019
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2,January-2019
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1,January-2019
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0,January-2019
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0,January-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,2020-05-31 23:35:50.946,2020-05-31 23:42:26.530,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1,May-2020
25073,1681,2020-05-31 23:38:30.824,2020-06-01 00:06:32.036,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1,May-2020
25074,1657,2020-05-31 23:39:07.268,2020-06-01 00:06:44.574,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1,May-2020
25075,420,2020-05-31 23:45:28.329,2020-05-31 23:52:28.368,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1,May-2020
25076,87,2020-05-31 23:50:55.839,2020-05-31 23:52:23.092,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1,May-2020

In [23]:
Merged_df['gender'] = Merged_df['gender'].replace({0:'unknown', 1:'male', 2: 'female'})

In [24]:
# Merged_df['gender'].tostring()
# Merged_df['year'].tostring()
# Adding a Path ID to map the route:
# Merged_df = Merged_df.reset_index()
# Merged_df.columns = 'Path_ID'
Merged_df['Path_ID'] = Merged_df.index
Merged_df.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr,Path_ID
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,male,January-2019,0
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,female,January-2019,1
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,male,January-2019,2
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,unknown,January-2019,3
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,unknown,January-2019,4

In [25]:
Merged_df.Path_ID = Merged_df.Path_ID.astype(str)
Merged_df["start station id"] = +Merged_df["start station id"].astype(str)
Merged_df["end station id"] = Merged_df["end station id"].astype(str)

In [26]:
Merged_df['New_Path_ID'] = Merged_df["start station id"]+"_"+Merged_df["end station id"]
Merged_df.head()

,tripduration (in secs),starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,mon_yr,Path_ID,New_Path_ID
0,201,2019-01-01 03:09:09.711,2019-01-01 03:12:30.879,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,male,January-2019,0,3183_3214
1,505,2019-01-01 05:18:00.106,2019-01-01 05:26:25.905,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,female,January-2019,1,3183_3638
2,756,2019-01-01 10:36:33.340,2019-01-01 10:49:10.260,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,male,January-2019,2,3183_3192
3,1575,2019-01-01 12:43:38.643,2019-01-01 13:09:54.528,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,unknown,January-2019,3,3183_3638
4,1566,2019-01-01 12:43:39.601,2019-01-01 13:09:46.510,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,unknown,January-2019,4,3183_3638

In [27]:
# Exporting to New csv:

NewMergedCSV = Merged_df.to_csv('data/NewMergedCSV.csv', index=False)